.text-gray-700 {
    color: #3f3f46;
}

.text-gray-500 {
    color: #71717a;
}

.text-yellow-500 {
    color: #f59e0b;
}

.border-yellow-500 {
    border-color: #f59e0b !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-blue-500 {
    color: #3b82f6;
}

.bg-gray-100 {
    background: #f4f4f5;
}

.font-size-14 {
    font-size: 14px;
}

